# Renombrame a .env
PG_DEV_HOSTNAME=
PG_DEV_DB_NAME=
PG_DEV_USER=
PG_DEV_PASSWORD=
PG_DEV_PORT=5432

PG_TEST_HOSTNAME=
PG_TEST_DB_NAME=
PG_TEST_USER=
PG_TEST_PASSWORD=
PG_TEST_PORT=5432

# usado para la app contenerizada en modo production
# DATABASE_URL=postgres://imagestore:pg_password@db/imagestore

PORT=5000

E2_ACCESS_KEY=
E2_SECRET_ACCESS_KEY=
E2_REGION=
E2_BUCKET=
E2_ENDPOINT=

CDN_HOST=localhost
