<div class="category flex border-b border-gray-200 hover:bg-gray-100">
  <div class="name w-1/3 py-3 px-4"><%= category.name %></div>
  <div class="desc w-1/3 py-3 px-4"><%= category.desc %></div>
  <div class="actions w-1/3 py-3 px-4 text-right">
    <%= link_to "ðŸ“", edit_admin_category_path(category), title: "Editar",
      class: "pr-1 no-underline" %>
    <%= button_to admin_category_path(category), method: :delete, form: {data: {turbo_confirm: "Are your sure?"}},
      title: "Eliminar", class: "pr-1" do %>
      ðŸš®
    <% end %>
  </div>
</div>
