<header class="bg-white shadow p-4 mb-8 rounded-lg">
  <div class="flex justify-between items-center">
    <h2 class="text-xl font-semibold">Categories List</h2>
    <div class="flex items-center">
      <%= link_to "New Category", new_admin_category_path, class: "bg-blue-500 text-white p-2 rounded-lg hover:bg-blue-600" %>
    </div>
  </div>
</header>
