<div class="new_category">
  <div class="container mx-auto">
    <div class="mx-auto max-w-md rounded-lg bg-white p-6 shadow-md">
      <h2 class="mb-6 text-2xl font-semibold text-gray-800">New Category Form</h2>
      <!-- Formulario -->
      <%= render "form" %>
    </div>
  </div>
</div>
